In [64]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine 
import pandas as pd

In [65]:
password = "765678aA"
db_name = "LDS2"

In [66]:
conn = pymysql.connect(host='127.0.0.1', port = 3306, user ='root',password=password, database = db_name)

In [67]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [68]:
table_name ='People'
table_name2 ='Academics'
table_name3 ='Employment'
table_name4 ='Hobbies'
table_name5 ='Beef'

In [69]:
people = pd.read_csv('/Users/johnle/Downloads/LDS2_Data_ppl.csv')
people.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

In [70]:
academics = pd.read_csv('/Users/johnle/Downloads/LDS2_Data_academics.csv')
academics.to_sql(name=table_name2, con=connection, if_exists='replace', index=False)

In [71]:
employment = pd.read_csv('/Users/johnle/Downloads/LDS2_Data_employment.csv')
employment.to_sql(name=table_name3, con=connection, if_exists='replace', index=False)

In [101]:
hobbies = pd.read_csv('/Users/johnle/Downloads/LDS2_Data_hobbies .csv')
hobbies.to_sql(name=table_name4, con=connection, if_exists='replace', index=False)

In [73]:
beef = pd.read_csv('/Users/johnle/Downloads/LDS2_Data_academics.csv')
beef.to_sql(name=table_name5, con=connection, if_exists='replace', index=False)

In [74]:
query1= "SELECT * FROM People"
query2= """

SELECT * FROM People
WHERE age = 21;
"""

In [75]:
result_df =pd.read_sql(query1, con=connection)
result_df_2 =pd.read_sql(query2, con=connection)

In [76]:
result_df

,Id,first_name,last_name,age,academic_id,employment_id,hobby_id,beef_id,restaurant_id
0,1,Lucy,Shichman,21,1,1,1,a,b
1,2,Himayat,Azizi,20,3,2,4,b,b
2,3,John,Le,21,2,4,5,d,c
3,4,Jay,Peetla,18,4,3,3,c,a
4,5,Franky,padilla coo,20,5,5,2,c,d

In [77]:
result_df_2

,Id,first_name,last_name,age,academic_id,employment_id,hobby_id,beef_id,restaurant_id
0,1,Lucy,Shichman,21,1,1,1,a,b
1,3,John,Le,21,2,4,5,d,c

In [78]:
from py2neo import Graph

In [79]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))

In [116]:
for i in range(len(people)):
    row = people.iloc[i]
    graph.run("CREATE (:PERSON {first_name:'" + row['first_name'] 
              + "',last_name:'" + str(row.last_name) 
              + "',age:'" + str(row.age)
              + "',academic_id:'" + str(row.academic_id)
              + "',employment_id:'" + str(row.employment_id)
              + "',hobby_id:'" + str(row.hobby_id)
              + "',beef_id:'" + str(row.beef_id)
              + "',restaurant_id:'" + str(row.restaurant_id)
              +"'})")

In [120]:
for i in range(len(academics)):
    row = academics.iloc[i]
    print("CREATE (:ACADEMICS {academic_id:'" + str(row.academic_id) 
              + "',major:'" + str(row.major) 
              + "',university:'" + str(row.university)
              + "',school:'" + str(row.school)
              + "',minor_existence:'" + str(row.minor_existence)
              + "',minor_name:'" + str(row.minor_name)
              +"'})")

CREATE (:ACADEMICS {academic_id:'1',major:'Biology',university:'UVA',school:'CAS',minor_existence:'True',minor_name:'ds'})
CREATE (:ACADEMICS {academic_id:'2',major:'Econ',university:'UVA',school:'CAS',minor_existence:'True',minor_name:'ds'})
CREATE (:ACADEMICS {academic_id:'3',major:'CS',university:'UVA',school:'CAS',minor_existence:'True',minor_name:'ds'})
CREATE (:ACADEMICS {academic_id:'4',major:'CS',university:'UVA',school:'Engineering',minor_existence:'False',minor_name:'nan'})
CREATE (:ACADEMICS {academic_id:'5',major:'CS',university:'UVA',school:'Engineering',minor_existence:'True',minor_name:'ds'})

In [124]:
# RELATIONSHIP
for i in range(len(people)):
    row = people.iloc[i]
    #First step: Create the person nodes, with the properties that won't be used to create relationships.
    graph.run("CREATE (:PERSON {first_name:'" + str(row['first_name']) + "'})")
    
    #What would creating relationships to companies and schools look like? Let's go to the cypher browser
    graph.run("MATCH (p:PERSON {first_name:'" + str(row['first_name']) +"'}), (c:ACADEMICS {major:'" + str(row['academic_id']) + "'}) CREATE (p)-[:STUDIES]->(c)")

In [97]:
for i in range(len(employment)):
    row = employment.iloc[i]
    graph.run("CREATE (:EMPLOYMENT {employment_id:'" + str(row.employment_id) 
              + "',company:'" + str(row['company']) 
              + "',city:'" + str(row['city']) 
              + "',role:'"+ str(row['role']) +"'})")

In [104]:
for i in range(len(hobbies)):
    row = hobbies.iloc[i]
    graph.run("CREATE (:HOBBIES {hobby_id:'" + str(row['hobby_id']) 
              + "',hobby1:'" + str(row.hobby1) 
              + "',hobby2:'" + str(row.hobby2)
              + "',organizations:'" + str(row.organizations)
              +"'})")

In [113]:
print("MATCH (p:PERSON {academic_id:'" + row['academic_id'] +"'}), (a:ACADEMICS {academic_id:'" + row['academic_id'] + "'}) CREATE (p)-[:WORKS_AT]->(a)")

KeyError: 'academic_id'

SyntaxError: EOL while scanning string literal (<ipython-input-111-66828348f0a5>, line 1)