In [1]:
from py2neo import Graph
import pandas as pd

In [2]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))

In [4]:
graph.run("MATCH (n) DETACH DELETE n")

(No data)

In [5]:
from py2neo import Node, Relationship

In [ ]:
kaleigh = Node("Person", name = "Kaleigh Watson", coworkers = ['Andy', 'Amanda'])

In [7]:
people = pd.read_csv('https://raw.githubusercontent.com/Lucy-Shichman/database-project/main/People.csv')
people

,Id,first_name,last_name,age,academic_id,employment_id,hobby_id,beef_id,restaurant_id
0,1,Lucy,Shichman,21,1,1,1,a,b
1,2,Himayat,Azizi,20,3,2,4,b,b
2,3,John,Le,21,2,4,5,d,c
3,4,Jay,Peetla,18,4,3,3,c,a
4,5,Franky,padilla coo,20,5,5,2,c,d

In [13]:
peopleNode = []
for i in range(len(people)):
    row = people.iloc[i]
    peopleNode.append(Node("Person",name=row['first_name'],lastName=row['last_name']))
    
peopleNode

[Node('Person', lastName='Shichman', name='Lucy'),
 Node('Person', lastName='Azizi', name='Himayat'),
 Node('Person', lastName='Le', name='John'),
 Node('Person', lastName='Peetla', name='Jay'),
 Node('Person', lastName='padilla coo', name='Franky')]

In [15]:
for i in range(len(peopleNode)):
    graph.create(peopleNode[i])

In [16]:
hobbies = pd.read_csv('https://raw.githubusercontent.com/Lucy-Shichman/database-project/main/Hobbies%20.csv')
hobbies

   hobby_id         hobby1         hobby2   organizations
0         1         Hiking  Rock Climbing       Clay Club
1         2  flag football         Tennis            OYFA
2         3     Basketball         Racing         ML Club
3         4     Basketball         Hiking  DSAC, PCS, MSA
4         5     Basketball    Photography             VSA

In [19]:
hobbiesNode = []
for i in range(len(hobbies)):
    row = hobbies.iloc[i]
    hobbiesNode.append(Node("Hobby",hobbies = [row['hobby1'], row['hobby2']],organizations=row['organizations']))
    
hobbiesNode

[Node('Hobby', hobbies=['Hiking', 'Rock Climbing'], organizations='Clay Club'),
 Node('Hobby', hobbies=['flag football', 'Tennis'], organizations='OYFA'),
 Node('Hobby', hobbies=['Basketball', 'Racing'], organizations='ML Club'),
 Node('Hobby', hobbies=['Basketball', 'Hiking'], organizations='DSAC, PCS, MSA'),
 Node('Hobby', hobbies=['Basketball', 'Photography'], organizations='VSA')]

In [20]:
for i in range(len(hobbiesNode)):
    graph.create(hobbiesNode[i])

In [21]:
IsIn = Relationship.type("IS_IN")

In [23]:
for i in range(len(peopleNode)):
    graph.create(IsIn(peopleNode[i],hobbiesNode[i]))

In [24]:
employment = pd.read_csv('https://raw.githubusercontent.com/Lucy-Shichman/database-project/main/Employment.csv')
employment

   employment_id       company      city            role
0              1           FGH        DC         Analyst
1              2  Teaching Lab       NaN  Data Scientist
2              3         ENSCO  Richmond  Data Scientist
3              4       Premise        DC  Data Scientist
4              5   IT Concepts    Vienna  Data Scientist

In [25]:
employment.fillna('',inplace=True)
employmentNode = []
for i in range(len(employment)):
    row = employment.iloc[i]
    employmentNode.append(Node("Employment",company=row['company'],city=row['city'],role=row['role']))
    
employmentNode

[Node('Employment', city='DC', company='FGH', role='Analyst'),
 Node('Employment', city='', company='Teaching Lab', role='Data Scientist'),
 Node('Employment', city='Richmond', company='ENSCO', role='Data Scientist'),
 Node('Employment', city='DC', company='Premise', role='Data Scientist'),
 Node('Employment', city='Vienna', company='IT Concepts', role='Data Scientist')]

In [26]:
WorksFor = Relationship.type("WORKS_FOR")